<div class="documentacao">
  <aside id="menu">

    <div class="menu">
      <ul>
        <li><a data-content="content-1">Sobre o projeto</a></li>
        <li><a data-content="content-2">Layout da aplicação</a></li>
        <li><a data-content="content-3">Funções</a></li>
        <li><a data-content="content-4">Estrutura JSON</a></li>
        <li><a data-content="content-5">GUID</a></li>
      </ul>
    </div>
  </aside>

  <!-- botao voltar -->
  <div class="back">
    <a href="/">Voltar</a>
  </div>

</div>
