<section class="main">
  <div class="container">
    <div class="left">
      <h1>FormsDevHelp</h1>
      <p>
        O projeto FormsDevHelper é um sistema destinado a automatizar a criação e gerenciamento de formulários. Ele
        permite que os usuários criem formulários personalizados com diferentes tipos de campos, validações e opções.
        Além disso, o sistema facilita o armazenamento, a visualização e a exportação dos dados coletados pelos
        formulários. O objetivo do projeto é simplificar o trabalho dos desenvolvedores que precisam de formulários
        dinâmicos e eficientes.
      </p> <br>
      <p>
        Acesse a documentação <a href="/helper">
          clicando aqui
        </a>
      <p>
        Acesse o FormsDevHelp <a href="/forms">
          clicando aqui </a>
      </p>
    </div>

    <div class="right">
      <img class="img-left" src="../assets/images/form.svg" alt="uma ilustracao de um form">
    </div>
  </div>
</section>
