<section class="grid-section">
  <div class="column">
    <h2 id="Sh2">CRIAR +</h2>
    <div class="button-group">
      <button onclick="abrirModal('modal-1')">FormStep</button>
      <button onclick="abrirModal('modal-2')">OptionStep</button>
      <button onclick="abrirModal('modal-3')">SimpleStructionField - SIF</button>
      <button onclick="abrirModal('modal-4')">TextField</button>
      <button onclick="abrirModal('modal-5')">NumberField</button>
      <button onclick="abrirModal('modal-6')">TermField</button>
      <button onclick="abrirModal('modal-7')">MaskedField</button>
      <button onclick="abrirModal('modal-8')">DateField</button>
      <button onclick="abrirModal('modal-9')">CheckBoxField</button>
      <button onclick="abrirModal('modal-10')">RadioListField</button>
      <button onclick="abrirModal('modal-11')">SelectField</button>
      <button onclick="abrirModal('modal-12')">DependentsList</button>
      <button onclick="abrirModal('modal-13')">ButtonField</button>
      <button onclick="abrirModal('modal-14')">ShareWithDependentList</button>
    </div>
  </div>
</section>
